

.Ciekawostki__conteiner {

  position: absolute;
  /* background-color: #db3d4e; */
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(233, 222, 206, 0.8);
  font-family: "Sriracha", cursive;
  

}


.Accordion__style {
  margin-left: auto;
  margin-right: auto;
  width: 80% !important;
}
.accordion-header {
  background-color: #db3d4e !important;
}

.accordion-button {
  background-color: #db3d4e !important;
}

.accordion-item {
  background: rgba(233, 222, 206, 0.8);
}

button {
  background-color: black;
}




@media screen and (max-width: 375px) {
}
@media screen and (max-width: 576px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
