* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BG__conteiner {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/images/strawberryBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Navstyle {
  color: aliceblue;
  justify-content: center;
  background-color: #db3d4e;
  border-radius: 10px 10px 0px 0px;
}

.App__conteiner {
  position: absolute;
  justify-content: center;
  overflow: hidden;
  /* background-color: bisque; */
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.186);
}

@media screen and (max-width: 576px) {
  .App__conteiner {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
  }
  .Navstyle {
    border-radius: 00px 00px 0px 0px;
  }
}

@media screen and (min-width: 576px) {
  .App__conteiner {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .App__conteiner {
    height: 956px;
    width: 600px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 992px) {
  .App__conteiner {
    height: 956px;
    width: 600px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .App__conteiner {
    height: 956px;
    width: 600px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1400px) {
  .App__conteiner {
    height: 956px;
    width: 600px;
    border-radius: 10px;
  }
}
